* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2, h3 {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
}

.sidebar {
    background-color: #15180c;
    width: 80px;
}

.sidebar-top {
    height: 60%;
    padding-top: 20px;
}

.sidebar-bottom {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.logo-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

i.fa-spotify {
    font-size: 30px;
    color: white;
}

.logo-lg {
    display: none;
    max-width: 130px;
    max-height: 60px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.sidebar-top ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
}

.sidebar-top li {
    margin-bottom: 10px;
    filter: opacity(0.5);
}

.sidebar-top ul a {
    text-decoration: none;
    color: white;
}

.sidebar-top li:hover {
    filter: opacity(1);
}

.menu-items {
    display: none;
}

.list-lg {
    display: none;
    margin-left: 20px;
    margin-top: 20px;
}

.list-lg h2, .list-lg h3 {
    color: white;
    filter: opacity(0.5);
}

.list-lg h2:hover, .list-lg h3:hover {
    filter: opacity(1);
}

.list-lg a {
    color: white;
    filter: opacity(0.5);
    text-decoration: none;
}

.list-lg a:hover {
    filter: opacity(1);
}

.list-lg span {
    font-size: 14px;
}

.sidebar-bottom a {
    text-decoration: none;
    color: white;
    filter: opacity(0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-bottom a:hover {
    filter: opacity(1);
}

.sidebar-bottom a.user {
    font-size: 40px;
    border-top: 1px solid white;
}

.sidebar-bottom a p {
    font-size: 14px;
}

.sidebar-bottom p {
    display: none;
}
/*-------------fine sidebar--------------*/
.primary {
    width: calc(100% - 80px);
    background-image: linear-gradient(to bottom right, #d1ad00,  #000000);
}

header {
    height: 80px;
}

.hamburger-menu {
    font-size: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hamburger-menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav {
    height: 100%;
    display: none;
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    display:inline-block;
    padding: 0 10px;
}

.nav li a {
    text-decoration: none;
    color: white;
    filter: opacity(0.5);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.nav li a:hover {
    filter: opacity(1);
}
/*----------fine header----------*/
main {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    padding: 20px 0;
}

main p {
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.first-box {
    margin: auto;
    max-width: 90%;
}

.second-box {
    margin: auto;
    max-width: 90%;
}

.artists-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.artists {
    width: 100px;
    height: 100px;
    margin: 20px 20px;
}

.artists.different {
    border-radius: 100px;
}
/*---------fine main-----------*/
footer {
    background-color: #363636;
    width: 100%;
    height: 80px;
    display: flex;
}

.footer-left {
    width: 20%;
    display: flex;
}

.footer-right {
    display: none;
}

.footer-center {
    width: 80%;
}

.media-player-icon {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.media-player-icon a {
    color: white;
    font-size: 25px;
    padding: 0 20px;
}

.bar-media-player {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-music-playing {
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.music-playing {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

.footer-music-title {
    display: none;
}

p.title {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

p.artist {
    font-size: 12px;
    color: white;
    filter: opacity(0.5);
}

.like {
    display: flex;
    align-items: center;
}

.like a {
    color: white;
}

.like a:hover {
    color: green;
}

.slidecontainer-media {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 98%;
  height: 3px;
  background: white;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.options {
    display: flex;
    align-items: center;
}

.options a {
    padding: 0 5px;
    color: white;
}

.options a i:hover {
    color: green;
}

.slidecontainer {
  width: 100%;
  display: none;
}






@media screen and (min-width: 768px) {
    .sidebar {
        width: 180px;
    }
    .logo-lg {
        display: block;
    }
    .logo-icon{
        display: none;
    }
    .menu-items {
        display: inline-block;
    }
    .sidebar-top ul {
        align-items: flex-start;
        font-size: 15px;
        margin-left: 20px;
    }
    .list-lg {
        display: block;
    }
    .sidebar-bottom {
        align-items: flex-start;
        margin-left: 20px;
    }
    .sidebar-bottom p {
        display: inline-block;
    }
    .primary {
        width: calc(100% - 200px);
    }
    h1 {
        font-size: 25px;
    }
    .artists {
        width: 130px;
        height: 130px;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
    .footer-left {
        width: 20%;
    }
    .footer-center {
        width: 40%;
    }
    .footer-right {
        width: 22%;
        display: flex;
    }

}

@media screen and (min-width: 992px) {
    .sidebar {
        width: 200px;
    }
    .hamburger-menu {
        display: none;
    }
    .nav {
        display: block;
    }
    h1 {
        font-size: 30px;
    }
    .artists {
        width: 150px;
        height: 150px;
    }
    .footer-music-title {
        width: calc(100% - 80px);
        margin-left: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .slidecontainer {
        width: 80%;
        display: flex;
        align-items: center;
    }
}
